<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Sweden AI Factory</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="/css/main.dist.css" />
        {% if config.extra.favicon_svg %}
        <link rel="icon" href="{{ get_url(path=config.extra.favicon_svg) }}" />
        {% endif %}
	<!-- Privacy-friendly analytics by Plausible -->
	<script async src="https://plausible.io/js/pa-ol_Ejp5KPpE5ujmlvm_i2.js"></script>
	<script>
	  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
	  plausible.init()
	</script>
    </head>
    <body class="dark {{ config.extra.colors.bg_primary }} {{ config.extra.colors.text_secondary }} font-sans antialiased min-h-screen flex flex-col">
        {% include "header.html" %}

        <!-- Main Content -->
        <main class="flex-1 container mx-auto px-4 py-8">
            <section>{% block content %} {% endblock content %}</section>
        </main>

        {% include "footer.html" %}

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const mobileToggle = document.getElementById("mobile-toggle");
                const mobileMenu = document.getElementById("mobile-menu");

                mobileToggle.addEventListener("click", () => {
                    mobileMenu.classList.toggle("hidden");
                });
            });
        </script>
    </body>
</html>
